# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/


# Flutter/Dart 관련 추가
/pubspec.lock
**/doc/api/
.dart_tool/
.flutter-plugins-dependencies
/build/
/coverage/
.packages
.pub/
.pub-cache/
*.pyc
__pycache__/

# Rust 관련
rust/target/
rust/Cargo.lock
rust/.cargo/config.toml


# OS 관련
Thumbs.db
